h1, .h1, h2, .h2, h3, .h3, .h4, p {
	font-family: 'Titillium Web', sans-serif;
	
}

h1 {
	font-size:26px;
}

h2 {
	font-size: 23px;
	border: 1px solid #dddddd;
	margin-bottom:-3px;
}

h3 {
	font-size:20px;
	
}
p {
	font-size:16px;
}

table {
	border: 1px solid #dddddd;
}

caption {
	background-color: #f9f9f9;
	border: 1px solid #dddddd;
	
}

h2 {
	background-color: #dddddd;
	padding:13px;
}

caption h3 {
	padding-left:5px;
	margin-top:3px;
	margin-bottom:3px;
	
}


